.sidebar-container {
    background-color: white;
    height: 100%;
    width: 10vh;
    position: fixed;
    top: 10vh;
    left: 0;

        nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-top: 10px;

            a {
                text-decoration: none;
                color: inherit;
                display: flex;
            }
        }
}

.icon-container {
    color: #4d4d4e;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 10%;
    gap: 5px;
    border-radius: 20%;
    width: 8vh;
    height: 8vh;
}

:hover.icon-container {
    background-color: #d3d3d3;
}


.icon-label {
    font-size: 15px;
}
