#notification-container {
    font-size: 25px;
    background-color: rgb(190, 190, 190);
    color: #4d4d4e;
    cursor: pointer;
    border-radius: 50%;
    height: 60%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
}